@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Olá usuário, bem-vindo(a) à página inicial do Sistema de Gerenciamento de Computadores!</h1>
    <p>Saiba mais <a href="https://github.com/igorcastro1304/miAmore/blob/main/README.md">clicando aqui</a>.</p>
</div>
